@page
@model SAMS.Pages.Dormitories.GetDormitoriesModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>  Dormitory No   </th>
            <th>    Name  </th>
            <th>  Address  </th>
            <th>  Details  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dormitories)
        {
        <tr>
            <td> @item.Dormitory_No </td>
            <td> @item.Name </td>
            <td> @item.Address </td>
            <td><p><a asp-page="/Rooms/GetVacantsRoomInRange" asp-route-id="@item.Dormitory_No" asp-route-type="Dormitory">Vacant rooms</a></p></td>
        </tr>
        }
    </tbody>
</table>