@page
@model SAMS.Pages.Dormitories.GetDormitoriesModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>  Apartment No   </th>
            <th>    Address  </th>
            <th>  Type  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Dormitories)
        {
            <tr>
                <td> @item.Dormitory_No </td>
                <td> @item.Name </td>
                <td> @item.Address </td>
            </tr>
        }
    </tbody>
</table>