@page
@model SAMS.Pages.Apartments.GetApartmentsModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>  Apartment No   </th>
            <th>    Address  </th>
            <th>  Type  </th>
            <th>  Details  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Apartments)
        {
            <tr>
                <td> @item.Apart_No </td>
                <td> @item.Address </td>
                <td> @item.Types </td>
                <td><p><a asp-page="/Rooms/GetVacantsRoomInRange" asp-route-apartid="@item.Apart_No">Vacant rooms</a></p></td>
            </tr>
        }
    </tbody>
</table>